<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="app.home">/HotelCompetitors</Property>
        <Property name="root.logger.level">DEBUG</Property>
        <Property name="spring.jdbc.logger.level">DEBUG</Property>
        <Property name="console.logger.level">INFO</Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <ThresholdFilter level="${console.logger.level}"/>
            <PatternLayout pattern="%d %c{3} %p %m%n"/>
        </Console>

        <File name="DEBUG" fileName="${sys:user.home}/HotelCompetitors/logs/application-debug.log">
            <PatternLayout pattern="%d %c %t %p %m%n" charset="UTF-8"/>
        </File>

        <RollingFile name="SPRINGJDBC" fileName="${sys:user.home}/HotelCompetitors/logs/spring.jdbc.log" filePattern="${sys:user.home}/HotelCompetitors/logs/spring.jdbc.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d %c %t %p %m%n" charset="UTF-8"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>

        <RollingFile name="APPLICATION" fileName="${sys:user.home}/HotelCompetitors/logs/application.log" filePattern="${sys:user.home}/HotelCompetitors/logs/application.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d %c %t%X{request}%X{url} %p %m%n" charset="UTF-8"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
        <RollingFile name="ERROR" fileName="${sys:user.home}/HotelCompetitors/logs/application-error.log" filePattern="${sys:user.home}/HotelCompetitors/logs/application-error.log.%d{yyyy-MM-dd}">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="%d %c %t%X{request}%X{url} %p %m%n" charset="UTF-8"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework.jdbc" level="${spring.jdbc.logger.level}" additivity="false">
            <AppenderRef ref="SPRINGJDBC"/>
        </Logger>
        <Root level="${root.logger.level}">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="APPLICATION"/>
            <AppenderRef ref="ERROR"/>
        </Root>
    </Loggers>
</Configuration>
